<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/nav'); %>

    <section
      class="about full-screen d-lg-flex justify-content-center align-items-center"
      id="about"
    >
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
            <div class="about-text">
              <h1 class="animated animated-text">
                <span class="mr-2">My Name is</span>
                <div class="animated-info">
                  <span class="animated-item">Tushar Chahal</span>
                </div>
              </h1>

              <p>
                Building a successful product is a challenge. I am highly
                energetic in user experience design, interfaces and web
                development.
              </p>
            </div>
          </div>

          <div class="col-lg-5 col-md-12 col-12">
            <div class="about-image svg">
              <img
                src="https://epic.spb.ru/hero/hero.jpg"
                class="img-fluid"
                alt="svg image"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
