<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/nav'); %>

    <section class="section about-me my-4" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2>Projects</h2>
        </div>
        <div class="left-image-post my-4">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img
                  style="width: 100%; height: 200px"
                  src="https://www.serpentcs.in/web/image/4261"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Hotel Management</h4>
                <p>
                  Hotel property management system is a system that enabled a
                  hotel or group of hotels to manage front-office capabilities,
                  such as booking reservations, guest check-in/checkout, room
                  assignment, managing room rates, and billing.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-image-post my-4">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Food Delivery App</h4>
                <p>
                  This application is a food ordering application. You can check
                  all the resturants and check their price and order them. The
                  order will go to the restaurant and they will start preparing
                  your order. After your order is prepared, the delivery partner
                  will be notified about it and he will deliver you the order
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img
                  style="width: 100%; height: 200px"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyBpfOoz4pk8Pd-UADeFwv3auCJs5XRljTOHExrlShNUypZpcuWPTYp3fUck-boqDfze4&usqp=CAU"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="left-image-post my-4">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img
                  style="width: 100%; height: 200px"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZmvdnoIDpdgFpI5MPDR-CufjM7hZLm5HSXw&usqp=CAU"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Medicine Website</h4>
                <p>
                  This is a medicine website where users can get medicine
                  informations and order medicine .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
