<!DOCTYPE html>
<html>
  <%- include('partials/header'); %>
  <body>
    <%- include('partials/nav'); %>

    <section class="section about-me" data-section="section1">
      <div class="container">
        <div class="section-heading">
          <h2>Services</h2>
        </div>
        <div class="left-image-post mt-2">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img
                  style="width: 100%; height: 200px"
                  src="https://www.onlinecoursereport.com/wp-content/uploads/2020/07/shutterstock_394793860-1024x784.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Web Development</h4>
                <p>
                  Donec tristique feugiat lacus, at sollicitudin nunc euismod
                  sed. Mauris viverra, erat non sagittis gravida, elit dui
                  mollis ante, sit amet eleifend purus ligula eget eros. Sed
                  tincidunt quam vitae neque pharetra dignissim eget ut libero.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-image-post mt-2">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Embedded Programming</h4>
                <p>
                  I provide design, develop, and maintain embedded systems in
                  products, in the design of software for automotive features,
                  small facilities-handling devices like thermostats, handheld
                  games or other small devices.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img
                  style="width: 100%; height: 200px"
                  src="https://www.elegantthemes.com/blog/wp-content/uploads/2018/12/top11.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="left-image-post mt-2 mb-5">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img
                  style="width: 100%; height: 200px"
                  src="https://www.webhopers.com/wp-content/uploads/2022/02/App-development-Company-in-Zirakpur.png"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Mobile Programming</h4>
                <p>
                  I provide services for building mobile app is such as personal
                  digital assistants, enterprise digital assistants or mobile
                  phones.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
