@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00b7ff;
}
#navbarNav {
  justify-content: flex-end;
}
.about {
  height: 100vh;
}
img {
  display: block;
  width: 100%;
}
.thead {
  background-color: #333;
  color: #fff;
}
